@font-face {
    font-family: "Crunch Chips outline";
    src: url("fonts/Crunch Chips-3D.otf")
}

@font-face {
    font-family: "Crunch Chips";
    src: url("fonts/Crunch Chips.otf")
}

@font-face {
    font-family: "Adelia";
    src: url("fonts/ADELIA.otf")
}

@font-face {
    font-family: "Red Hands";
    src: url("fonts/KGRedHands.ttf")
}

@font-face {
    font-family: "Catways";
    src: url("fonts/Catways.ttf")
}

@font-face {
    font-family: "Tuna Sandwich";
    src: url("fonts/Tuna Sandwich.otf")
}

@font-face {
    font-family: "Baby Doll";
    src: url("fonts/Baby Doll.ttf")
}

body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(195, 173, 147);
   

}

h1 {
   font-size: 2em; 
   font-family: "Catways";
   padding: .55em;
   margin-top: 1.5em;
   color: rgb(248, 243, 228);
  border: 10px, 10px, 10px, black;
  border-radius: .50em;
   box-shadow: 10px 10px 10px rgb(174, 147, 126);
   border: .12em dashed rgb(246, 226, 200);
   border-width: 100%;
   max-width: fit-content;
   margin-left: 2em;
   background-color: (195, 173, 147);
   
}

h2, h3 {
    font-size: 1em; 
    font-family: "Adelia";
    padding: .55em;
    margin-top: 1.5em;
    color: rgba(248, 243, 228, 0.561);
   border: 10px, 10px, 10px, black;
   border-radius: .55em;
    border: .20em dotted rgb(246, 226, 200);
    border-width: 75%;
    max-width: fit-content;
    margin-left: 10em;
   

 }

header p, header p a{
    text-decoration: none;
    font-size: 2.5em;
    font-family: "Crunch Chips outline";
    color: rgb(255, 238, 217);
    text-shadow: 10px, 10px, 10px, black;
    padding-left: 10vh;
    transition: all 0.4s;
    
}

header p a:hover {
    color: rgb(99, 78, 50);
    font-size: 2.8em;
}

nav ul{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-content: stretch;

    gap: 1em;
    padding: 1.50em;

    
}

nav li{
    background-color: (195, 173, 147);
    border-color: rgb(150, 116, 90);
    border-width: .4em;
    border-style: double;
    border-radius: .4em;
    background-color: antiquewhite;
    padding: .75em;
    list-style: none;
    decoration: none;
    box-shadow: 10px 5px 10px rgb(200, 187, 172);
    transition: transform 0.4s;
    
}

nav a{
    text-decoration: none;
    color: rgb(74, 70, 53);
    font-family:'Courier New', Courier, monospace;
   font-size: 1.5em;
   text-align: flex-end;

}

nav li:hover{
    background-color: white;
    border-color:  rgb(150, 121, 100);
    /*transform: translateY(-10px);*/
  transform: perspective(500px) scale(1.20) rotateY(45deg);
    
}

main a{
 text-decoration: underline;
 font-family: "Red hands";
 font-size: 1.10em;
 
 color: whitesmoke;
 transition: all .4s;
}

main a:hover, main li:hover{
    font-size: 1.20em;
    color: rgb(244, 227, 218);
    transform: rotateY(15deg) rotateZ(-0.5deg);

}

main li{
    list-style:upper-roman;
    list-style-position: inside;
    color: whitesmoke;
    padding: 1em;
    margin-left: 3.5em;
    transition: all .4s;
}
main p{
    font-family: "Baby Doll";
    font-size: 1.2em;
    margin-left: 5em;
    margin-right: 5em;
    color:rgb(255, 247, 236);
}
img {
    height: 15em;
    border: .4em double rgb(255, 247, 236);
    justify-content: center;
    margin-left: 50%;
}

section li, main li{
    font-family: "Baby Doll";
    font-size: 1.2em;
    padding-top: .5em;
}

